@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

div {
    text-align: center;
}

body {
    line-height: 1.6;
    background-color: rgb(219, 219, 219);
}

.navbar {
    background-color: #444;
    padding: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    justify-content: space-around;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 64px;
    justify-content: center;

}

.navbar a {
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0,3s;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rodape {
    background-color: #555;
    text-align: center;
    padding: 16px;
    width: 100%;
    bottom: 0;
    position: relative;
    color: whitesmoke;
    margin-top: 32px;
    font-size:14px
    
}

section {
    margin: 32px 0;
    padding: 32px;
    background-color: rgb(141, 141, 141);
    border-radius: 8px;
}

.conteudo {
    padding: 1px;
    border-bottom: 2px solid #eee;
    margin-bottom: 16px;
}

    .imagem{
        width: 100%;
    }

    .imagem img{
        width: 100%;
        height: auto;
        display: block;
        
    }

    .carousel {
        display: flex;
        width: 300px;
    }

    .carousel img {
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .flexivel{
        display: flex;
        gap: 20px;
    }

    h2{
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    p{
        text-align: center;
        font-size: 16px;
        
    }

    .produtos {
        padding: 20px;
    }
    
    .produtos h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .produto {
        height: 500px;
        width: 300px;
        background: rgba(218, 218, 218, 0.521);
        border-radius: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        padding: 15px;
        text-align: center;
    }
    
    .produto img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        background: rgba(245, 245, 245, 0.705)
    }
    
    .produto h3 {
        font-size: 18px;
        margin: 10px 0;
        font-weight: 600;
    }
    
    .produto p {
        font-size: 14px;
        color: #555;
        margin-bottom: 10px;
    }
    
    .produto span {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    .produto button {
        background: #000;
        color: white;
        border: none;
        padding: 12px;
        width: 100%;
        cursor: pointer;
        border-radius: 100px;
        transition: background 0.6s, transform 0.3s;
        font-size: 16px;
        font-weight: 600;
    }
    
    .produto button:hover {
        background: #444;
        transform: scale(1.05);
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    ul img {
        position: left;
        justify-content: left;
        width: 2%;
        height: auto;
    }

    .goku {
        position: left;
        justify-content: left;
        width: 10%;
        height: 10%;
    }

    .goku img {
        width: 100%;
    }


    .logo img{
        position: left;
        justify-content: left;
        width: 12%;
        height: 12%;
        box-shadow: #333;
    }

    .contato {

        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        padding: 10px;
        align-items: center;
        background-color:  #555;
        opacity: 0.8;
        border-radius: 10px;
        color: aliceblue;
    }
    
    #formulario-contato{
        padding: 20px;
        background-color: rgb(30, 175, 156);
    }